@charset "UTF-8";

main {
  width: 80%;
  margin: 0 auto;	
  padding: 20px;
  border: 1px solid #ddd;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
}
#layout {
  width: 1300px;
  height: auto;
  margin: 0 auto;
}
#boardName {
  font-size: 36px;
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
}
.categoryWrap {
  display: flex;
  > div {
  	  margin-right: 5px;
  }  
  > div a {
	  background-color: #007bff;
	  text-decoration: none;
	  color: white;
	  border: none;
	  height: 40px;
	  padding: 10px 10px;
	  border-radius: 4px;
	  cursor: pointer;
	  transition: background-color 0.3s ease;
  }
  > div a:hover {
	  background-color: white;
	  color: black;
  }
}
.searchBox {
  margin-left: 426px;
}
.writingBtnWrap {
  float: right;
	  > button {
		  background-color: #007bff;
		  color: white;
		  border: none;
		  height: 40px;
		  padding: 0 20px;
		  border-radius: 4px;
		  cursor: pointer;
		  transition: background-color 0.3s ease;
	}

	  > button:hover {
 		 background-color: #0056b3;
	}
}
table {
  min-width: calc(100% - 250px - 60px);
  width: 100%;
  margin: 20px auto;
}
table thead {
  width: 100%;
}
table tbody {
  width: 100%;
  text-align: center;
}
tr:first-child {
  background-color: #f2f2f2;	
  font-weight: bolder;
  border-bottom: 1px solid #ddd;
}
tr:last-child {
  border-bottom: 1px solid #ddd;
}
table tbody tr{
  border-bottom: 1px solid #ddd;
}
table tbody td {
  height: 45px;
  line-height: 45px;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table tbody td:first-of-type,
table tbody td:last-of-type {
  padding: 0 10px;
}

#pagination {
	margin: 30px 0px; 
	display : flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

#pagination .pagefirst, 
#pagination .pagelast, 
#pagination .prev,
#pagination .next, 
#pagination .pageNumber {
	width: 25px;
	height: 25px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

#pagination .prevArrow, 
#pagination .nextArrow {
	height: 8px;
	width: 8px;
	border: solid #1B5DDE;
	border-width: 2px 2px 0 0;
}

.pageNumber {
  margin: 0 5px;	
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pageNumber:last-of-type {
	margin-right: 0 !important;
}

.pagefirst, .prev {
	margin-right: 5px;
	background-color: white;
	border: 1px solid #1B5DDE;
}

.pagefirst {
	margin-right: 3px;
}

.prevArrow {
	transform: rotate(-135deg);
	margin-left: 3px;
}

.pagelast, .next {
  margin-right: 3px;
  font-weight: bold;
}

.nextArrow {
	transform: rotate(45deg);
	margin-right: 3px;
}

#pagination *:hover {
  background-color: #0056b3;
  color: #fff;
  transition: background-color 0.3s ease;
}

#pagination *:hover .prevArrow, 
#pagination *:hover .nextArrow {
  color: #fff;
  transition: background-color 0.3s ease;
}
