<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>

  	<typeAlias type="login.MemberDTO" alias="userdto"/>
  	<typeAlias type="login.MemberDTO" alias="memberdto"/>
	<typeAlias type="shareboard.ShareBoardDTO" alias="shareboarddto" />
	<typeAlias type="shareboard.CommentDTO" alias="commentdto" />
	<typeAlias type="dto.CommBoardDTO" alias="commBoardDto"/>
	<typeAlias type="dto.freeBoardDTO" alias="freedto"/>
	<typeAlias type="login.MessageTO" alias="messageto"/>

</typeAliases>
</configuration>
